Source: libpasastro
Section: education
Priority: optional
Maintainer: Patrick Chevalley <pch@ap-i.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.2.1
Homepage: http://libpasastro.sourceforge.net

Package: libpasastro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pascal language friendly interface to astronomy libraries
 Provide shared libraries to interface Pascal program with 
 standard astronomy libraries.

